{
	"$template": {
		"format_version": "1.16.0",
		"minecraft:item": {
			"description": {
				"identifier": "nusiq:{{name}}",
				"category": "Nature"
			},
			"components": {
				"minecraft:icon": "{{name}}",
				"minecraft:render_offsets": "miscellaneous"
			}
		}
	},
	"$scope": {
		"items": [
			{
				"name": "apple"
			},
			{
				"name": "banana"
			},
			{
				"name": "orange"
			}
		]
	},
	"$files": {
		"array": "items",
		"fileName": "{{name}}.item"
	}
}